.layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: clamp(250px, 45vw, 350px);
    text-align: center;
}

.error {
    color: rgb(134, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 16px;

    .white-text-logo {
        width: 150px;
        animation: rotate 10s ease-in-out infinite;
        margin: 20px 0;
    }

    form {
        text-align: center;
    }

    &__reset-button {
        border: none;
        background-color: transparent;
        font-size: 18px;
        margin-top: 20px;

        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }

    &__reset-text {
        font-size: 18px;
    }

    &__login-button {
        margin: 20px;
        background-color: #5353b6;

        &:hover {
            background-color: #4949a0;
        }
    }

    &__register-button {
        margin: 20px 0;
        background-color: #348ac7;

        &:hover {
            background-color: #2f7eb6;
        }
    }

    &__input {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input {
            width: 100%;
            background: linear-gradient(
                to left,
                rgba(255, 255, 255, 0.25),
                rgba(255, 255, 255, 0.15)
            );
        }

        label {
            font-size: 16px;
        }
    }

    .form-element {
        border: none;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        font-size: 16px;
        padding: 10px 12px;
        transition: box-shadow 0.3s, background-color 0.3s;

        &:hover {
            box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
        }

        &:focus {
            outline: solid 2px rgba($color: white, $alpha: 0.75);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
